<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/editUser}" th:object="${user}">
    <label for="id">Id</label>
    <input readonly type="text" th:field="*{id}" id="id">
    <br>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname">
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <input type="submit" value="Edit">
</form>
</body>
</html>